<section class="object_editor">

    <section class="options objects">

      <ul>
        
      </ul>

    </section>
    <section class="options">

      <ul>
        <li class="option" type="move-down">
           <span>Wacht 1 sec.</span>
        </li>

      </ul>

    </section>

    <section class="code">
       
      <section class="code_hierarchy">

        <ul class="code_root">
          <li class="option green event no-drag" type="start">
           <span>Aan het begin</span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>
           <span>
              Einde
           </span>
          </li>
        </ul>

      </section>


   </section>

    <a class="play"><img src="play.png"/></a>

</section>
