<nav>
  <a class="play">&lt; Terug</a>
</nav>

<section class="visualCodeEditor">

    <section class="options">

      <ul>
        <li class="option" type="move-down">
           <span>Naar onder</span>
        </li>

         <li class="option" type="move-up">
             <span>Naar boven</span>
         </li>
         <li class="option" type="move-right">
             <span>Naar rechts</span>
         </li>
         <li class="option" type="move-left">
             <span>Naar links</span>
         </li>
         <li class="option" type="rotate">
             <span>Draaien</span>
         </li>
         <li class="option" type="scale">
             <span>Groeien</span>
         </li>  

         <li class="option" type="repeat">
           <span>Herhaal <input type="number" value="2"/></span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>

           <span>
              Einde
           </span>
        </li>
         <li class="option green event" type="tilt-left-right">
           <span>Als je iPad draait LR</span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>

           <span>
              Einde
           </span>
        </li>
         <li class="option green event" type="tilt-up-down">
           <span>Als je iPad draait UD</span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>

           <span>
              Einde
           </span>
        </li>
         <li class="option green event" type="tap">
           <span>Als je tapt</span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>

           <span>
              Einde
           </span>
        </li>

      </ul>

    </section>

    <section class="code">
       
      <section class="code_hierarchy">

        <ul class="code_root">
          <li class="option green event no-drag" type="start">
           <span>Aan het begin</span>
              <ul>
                <li class="dropzone">Plaats hier acties</li>
              </ul>
           <span>
              Einde
           </span>
          </li>
        </ul>

      </section>


   </section>

</section>
